<div class="card card-height">
  <h5 class="card-header">Your Details</h5>
    <div class="card-body">
    <h2 class="card-text">Name: <%= @user.name %></h2>
    <span class="badge badge-secondary"><%= via_github(@user) %></span>
    <h2 class="card-text">Email: <%= @user.email %></h2>
    <p><%= link_to "Edit Your Details", edit_user_path(@user), :class => "btn btn-primary" %></p>
    <p><%= order_history_button %></p>
    <p><%= new_item_button(@user) %></p>
  </div>
</div>


<div class="card">
  <h5 class="card-header">Your Address</h5>
    <div class="card-body">
      <% @user.address.each do |address| %>
        <p class="card-text"><%= address.line_1 %></p>
        <p class="card-text"><%= address.line_2 %></p>
        <p class="card-text"><%= address.city %></p>
        <p class="card-text"><%= address.postcode %></p>
        <p class="card-text"><%= address.country %></p>
        <%= link_to "Edit Address", edit_user_address_path(@user, address), :class => "btn btn-primary"%>
      <% end %>
      <%= add_address_button(@user) %>
      <%= analytics_button(@user) %>
  </div>
</div>

