<div class="card card-height">
  <h5 class="card-header">Your Address</h5>
    <div class="card-body">
        <p class="card-text"><%= @address.line_1 %></p>
        <p class="card-text"><%= @address.line_2 %></p>
        <p class="card-text"><%= @address.city %></p>
        <p class="card-text"><%= @address.postcode %></p>
        <p class="card-text"><%= @address.country %></p>
        <%= link_to "Edit Address", edit_user_address_path(@user, @address), :class => "btn btn-primary"%>
  </div>
</div>