<%= form_tag items_path, method: :get do %>
  <%= link_to "Categories", categories_path, :class => "btn btn-primary col-auto"  %>
    <div class="form-row align-items-left float_right">
      <div class="col-auto">
        <%= text_field_tag :search, params[:search], :class => "form-control" %>
      </div>
        <%= submit_tag 'Search', :class => "btn btn-primary col-auto" %>
    </div>
  </div>
<% end %>

<%= display_notice %>
<% @items.each do |item| %>
  <div class="card text-center" style="width: 18rem;">
    <%= link_to image_tag(item.image), item_path(item), :class => "card-img-top" %>
    <div class="card-body">
      <p><%= link_to item.title, item_path(item), :class => "btn btn-link"  %>
    </div>
  </div>
<% end %> 
