<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "RGadgets" %></title>
    <title>RGadgets</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <div class="container">
    <nav class="navbar navbar-light bg-light">
      <%= link_to "Home", root_path, :class => "navbar-brand"%>
      <%= account_button %>
      <%= cart_show %>
      <%= log_buttons %>
    </nav>
  

  <div class="container">
    <%= yield %>
  </div>
  </body>
</html>
